# Unnecessary compiled python files.
__pycache__
*.pyc
*.pyo

# Output Images
outputs

# Log files for colab-convert
cc-outputs.log
*.mp4
scripts/deforum_helpers/src/rife/inference_video - latestnotworkingpy
*.png
scripts/deforum_helpers/src/rife/test.py
