ipython
opencv-python
pandas
einops
omegaconf
pytorch_lightning
scikit-image
k-diffusion
matplotlib
timm
git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
git+https://github.com/openai/CLIP.git@main#egg=clip
