#vid_to_interpolate_chosen_file .w-full, #vid_to_upscale_chosen_file .w-full, #controlnet_input_video_chosen_file .w-full, #controlnet_input_video_mask_chosen_file .w-full,#vid_to_depth_chosen_file .w-full {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: center !important;
}

#vid_to_interpolate_chosen_file, #vid_to_upscale_chosen_file, #controlnet_input_video_chosen_file, #controlnet_input_video_mask_chosen_file, #vid_to_depth_chosen_file {
	height: 85px !important;
}

#save_zip_deforum, #save_deforum  {
	display: none;
}

#extra_schedules::before {
  content: "Schedules:";
  font-size: 10px !important;
}

#hybrid_msg_html {
	color: Tomato !important;
	margin-top: 5px !important;
	text-align: center !important;
	font-size: 20px !important;
	font-weight: bold !important;
}

#deforum_results .flex #image_buttons_deforum #img2img_tab,
#deforum_results .flex #image_buttons_deforum #inpaint_tab,
#deforum_results .flex #image_buttons_deforum #extras_tab {
	display: none !important;
}

#controlnet_not_found_html_msg {
	color: Tomato;
}
